/* Conversation Item */
.conversation {
    text-align: left;
    padding: 8px 10px 5px;
    border-bottom: 1px solid #ddd;
    width: 100%;

    transition: background-color 0.5s ease;
}
/* Conversation Properties */
.conversation:hover {
     background-color: whitesmoke;
}

.conversation .media-body, .contact .media-body {
    display: block;
    width: 100%;
}
